*{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}
h1{
	padding: 10px;
	text-align: center;
}
.hero{
	height:100%;
	width:100%;
	background-image: linear-gradient(rgba(0,0,0,0.4)),url(img/ap2.jpeg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width:380px;
	height:400px;
	position: relative;
	margin:6% auto;
	background: transparent;
	padding:5px;
}
.button-box{
	width:220px;
	margin:35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn{
	padding:10px 80px;
	cursor:pointer;
	background:linear-gradient(to right,darkred,red);
	border: 0;
	position: relative;
	outline: none;
	border-radius: 30px;
}

}
#btn{
	top:0;
	left: 0;
	position: absolute;
	width:220px;
	height: 100%;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border-radius:30px;
	transition: .5s;
}
.input-group{
	top: 100px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding:10px 0;
	margin-top: 5px;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right: 0;
	border-bottom:1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 20px 30px;
	cursor: pointer;
	display: block;
	margin: 20px auto;
	background: linear-gradient(to right,lightgreen,green);
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box{
	margin: 30px 10px 30px 0;
}
/*span{
	font-size: 12px;
	bottom: 68px;
	position: absolute;
}*/
p{
	margin-top: 20px;

}
#register{
	left:50px;
}








